<section class="user-info">
  <img src="../../assets/Images/logo.jpg" alt="Картинки нетыу" class="logo">
  <section class="client-name">
    <h3>Индивидуальный предприниматель {{person.surname + ' ' + person.name + ' ' + person.middleName}}</h3>
  </section>
  <section class="client-contacts">
    <a class="client-phone" href="tel:{{person.phone}}}">{{person.phone}}</a>
    <a class="client-website" href="http://{{person.site}}">{{person.site}}</a>
    <a class="client-email" href="mailto:{{person.mail}}">{{person.mail}}</a>
  </section>
  <a class="company-info" href="http://www.mary.com">Информация о компании</a>
  <a class="requisites" href="http://www.mary.com">Показать реквизиты</a>
</section>
