<section>
  <p>О компании индивидуальный предприниматель Швецова Мария Валерьевна</p>
  <section class="services">
    <div>
      <img src="../../assets/Images/strawberry.jpg">
      <h4>Клубника</h4>
      <p>139,99 руб.</p>
    </div>
    <div>
      <img src="../../assets/Images/beach.jpg">
      <h4>Золотой пляж</h4>
      <p>35,89 руб.</p>
    </div>
    <div>
      <img src="../../assets/Images/excursion.JPG">
      <h4>Экскурсии</h4>
      <p>1000р/час.</p>
    </div>
  </section>
</section>
